.top{
   text-align: center;
   color: black;
   background-color: #E5D6A0;
   height: 1000px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 800px;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    
}
.img{

    width: 23vw;
}
.res{
    width: 20vw;
    height: 100vh;
}

.p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: black;
}


@media screen and (max-width:800px) {
    /* .top{
        height: 1000px;
    } */
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 100px; */
        /* margin-top: 50px; */
        
    }

    .res{
        width: 30%;
        height: 10vw;
    }

    .img{
        width: 50vw;
    }
    
}

@media screen and (max-width:1000px) {

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 100px; */
        /* margin-top: 50px; */
        
    }
}