
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.total{
    width: 100%;
    height: 100%;
}
.container {
    background-image: url(../../assets/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container > div {
    width: 50%; /* Garante que cada div ocupe metade do espaço disponível */
   
}

.h1{
    font-size: 200px;
}


img {
    max-width: 80%; /* Garante que a imagem ocupe todo o espaço disponível dentro de sua div */
    height: auto; /* Mantém a proporção da imagem */
    margin-left: 100px;
}

.h1 {
    font-size: 4em;
    color: #F68C2A;
    text-align: center; /* Centraliza o texto dentro da div */
}

.h2 {
    font-size: 2em;
    color: #F68C2A;
    text-align: center; /* Centraliza o texto dentro da div */
}


@media screen and (max-width:800px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 70vh;
    }
    .containerImg{
        width: 20vw;
        display: block;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
    }
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 100vw;
    }
    .h1{
        font-size: 45px;
    }

    .h2{
        font-size: 20px;
    }
}