.titulo{
    margin-top: 10px;
}


.container{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    background-color:#1E90FF;
    overflow-x: auto;
}

.ul{
    margin-top: 20px; 
    display: flex;
    list-style: none;
    width: 40vw;

}

.li{
    width: 10vw;
    padding: 10;
    font-size: 20px;
    margin-left: 10px;
    
    
}

.link{
    text-decoration: none;
    color: black;
    
}

@media screen and (max-width:600px) {
    .container{
        height: 1vh;
        margin-top: 20px;
        margin-left: 20px;
        overflow-x: auto;
    }

    .ul{
        margin-top: 10px;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
}
